fastapi==0.115.12
uvicorn[standard]==0.34.2

sqlalchemy==2.0.40
psycopg2-binary==2.9.10

passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.4.0

pydantic==2.11.3
email-validator==2.2.0
python-multipart==0.0.20

# Machine Learning / Computer Vision
torch
torchvision
ultralytics
opencv-python
numpy
Pillow

# Reports
reportlab